<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link href="{{swagger_ui_url}}swagger-ui.css" rel="stylesheet" type="text/css"/>
  </head>

 <body>

   <div id="swagger-ui-container"></div>

   <script src="{{swagger_ui_url}}swagger-ui-standalone-preset.js"></script>
   <script src="{{swagger_ui_url}}swagger-ui-bundle.js"></script>

   <script id="openapi-url" type="application/json">{{ url_for('api-docs.openapi_json') }}</script>
   <script id="supported-submit-methods" type="application/json">{{ swagger_ui_supported_submit_methods|tojson }}</script>
   <script type="text/javascript" src={{url_for("api-docs.static", filename="js/swagger-ui-bundle.js")}}></script>

 </body>

</html>
