name: build
on:
  push:
  pull_request:
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-python@v4.3.0
        with:
          python-version: '3.11'
      - run: python -m pip install --upgrade pip wheel
      - run: pip install tox
      - run: tox -elint
  tests:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: '3.7', python: '3.7', tox: py37}
          - {name: '3.11', python: '3.11', tox: py311}
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-python@v4.3.0
        with:
          python-version: ${{ matrix.python }}
      - name: Run test
        run: |
          python -m pip install --upgrade pip wheel
          pip install tox
          tox -e${{ matrix.tox }}
      - name: Upload coverage
        uses: codecov/codecov-action@v3
  release:
    needs: [lint, tests]
    name: PyPI release
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-python@v4.3.0
      - run: python -m pip install --upgrade pip wheel
      - run: pip install twine
      - run: python setup.py sdist bdist_wheel
      - run: twine upload -u __token__ -p ${{ secrets.PYPI_API_TOKEN }} dist/*
